.main-layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    padding: 20px;
  }
  
 .trending-section, .posts-section { 
    padding: 20px;
    background-color:transparent;
  }
  
  .post {

    padding: 10px 0;
  }
  
  .trending-topic {
    margin-bottom: 15px;
  }
  
